# IntelliJ
.idea/
projectName.iml
/*.classpath
/.classpath
/.springBeans
*.DS_Store
*.iml
/build
/local.properties
target/
out/
# properties file
classes/*
lib/*
src/main/resources/application.properties