<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Mapper">
    <select id="select" resultType="controller.Member">
        select * from member
    </select>
    <insert id="insert" parameterType="controller.Member">
        insert into
            member(name, age)
        values(#{name}, #{age})
    </insert>
    <update id="update" parameterType="controller.Member">
        update member
        set age = #{age}
        where name = #{name}
    </update>
    <delete id="delete" parameterType="controller.Member">
        delete from member
        where name = #{name}
    </delete>
</mapper>